*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    --primary-blk: #2B303A;
    --primary-gray: #B0B0B0;
    --primary-white: #EEE5E9;   
    --secondary: #92DCE5;
    --accent: #D64933;

    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    font-family: Helvetica, sans-serif;
    /* border: solid 2px red; */
    background-color: var(--primary-white);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button {
    font: inherit;
}

ol, ul {
    list-style: none;
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
}

p a {
    display: inline;
    text-decoration: underline;
}

.inner-column {
    padding: 0px 15px;
    max-width: 700px;
    min-width: 350px;
    margin: auto;
}

header .inner-column {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--primary-blk);
    padding: 15px;
}

h1 {
    line-height: 0.6;
}

h1 img {
    width: 125px;
}

h2 {
    font-size: 34px;
}

header nav a {
    color: var(--secondary);
    font-size: 22px;
    line-height: 1;
}

/* HOME SECTION ######################## */

section.hero {
    text-align: center;
    padding: 40px 0;
    color: var(--primary-blk);
}

section.home h2 {
    font-weight: normal;
    text-transform: uppercase;
}

section.home p {
    color: var(--accent);
}

section.hours {
    text-align: left;
    color: var(--primary-white);
}

section.hours .inner-column {
    padding: 40px 15px;
    background-color: var(--primary-blk);
}

section.phone-number .inner-column {
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    position: relative;
}

section.phone-number .inner-column img {
    width: 28px;
    position: absolute;
    top: -14px;
}

section.phone-number .inner-column a {
    font-size: 34px;
    font-weight: bold;
    color: var(--primary-blk);
}

/* CONTACT SECTION ######################## */

section.contact {
    text-align: center;
}

section.contact h2 {
    color: var(--secondary);
    background-color: var(--primary-blk);
    text-align: center;
    padding: 40px 0px;
    max-width: 700px;
    min-width: 350px;
    margin: auto;
}

.phone-email .inner-column {
    background-color: var(--primary-gray);
    color: var(--primary-blk);
    padding: 27.5px 15px 20px;
    line-height: 1.2;
    font-size: 20px;
}

.phone-email h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.phone-email li:first-child {
    margin-bottom: 20px;
}

.phone-email a {
    color: var(--primary-white);
    background-color: var(--accent);
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    padding: 8px 15px;
    border-radius: 5px;
}

section.contact .hours .inner-column {
    text-align: center;
    color: var(--primary-blk);
    background-color: var(--primary-gray);
    font-size: 20px;
    padding: 0px 15px 27.5px;
}

section.contact .response-guarantee .inner-column {
    background-color: var(--primary-blk);
    padding: 30px 15px;
    position: relative;
}

section.contact .response-guarantee img {
    width: 28px;
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%)
} 

section.contact .response-guarantee h3 {
    padding: 0px 15px 10px;
    color: var(--accent);
    font-size: 26px;
}

section.contact .response-guarantee p {
    color: var(--secondary);
    font-size: 20px;
    line-height: 1.2;
    font-weight: bold;
}



